body {
  font-family: "Poppins", sans-serif;
  background-color: #f9f7fe;
}

footer {
  text-align: center;
}
footer a {
  color: pink;
}
h1 {
  font-size: 36px;
}
h2 {
  margin: 0 0 5px;
  font-size: 28px;
}
select {
  display: block;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  font-weight: 500;
  font-style: normal;
}
.container {
  background-color: white;
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.city {
  display: flex;
  justify-content: space-between;
  padding: 20px 5px;
  border-radius: 10px;
  margin: 10px auto;
}

.current-date {
  opacity: 0.8;
}

.current-time {
  font-size: 48px;
  font-weight: bold;
}

.current-time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 48px;
}
