body {
  font-family: "Poppins", sans-serif;
  background-color: #e3e3e3;
  transition: all 200ms ease-in-out;
}
footer {
  text-align: center;
  color: black;
}
footer a {
  color: #142d4c;
}
h1 {
  font-size: 36px;
}
h2 {
  margin: 0 0 5px;
  font-size: 28px;
}
select {
  display: block;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  font-weight: 500;
  font-style: normal;
  background-color: black;
  color: white;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #ececec;
}
.city {
  display: flex;
  justify-content: space-between;
  padding: 20px 5px;
  border-radius: 10px;
  margin: 10px auto;
  background-color: #385170;
  color: white;
}
.city:hover {
  transform: scale(1.1);
}

.current-date {
  opacity: 0.8;
}

.current-time {
  font-size: 48px;
  font-weight: bold;
}

.current-time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 48px;
}
